.Projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.Project {
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #1f1f1f;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition: transform 0.2s;
	max-width: 50vw;
}

.Project:hover {
	transform: scale(1.05);
}

.image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	align-items: center;
	border-radius: 10px;
}

.imageContainer {
	width: 100%;
	aspect-ratio: 16/9;
	overflow: hidden;
	border-radius: 10px;
}

.descriptionBox {
	margin-top: 10px;
}

.Link {
	text-decoration: none;
}

.Button {
	height: 50px;
	width: 100px;
	background-color: green;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	display: flex;
}

.Button h3 {
	margin: auto;
}

.Button:hover {
	background-color: limegreen;
}

@media (max-width: 650px) {
	.Project {
		max-width: 90vw;
	}
}
