@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	font-family: "Agbalumo", cursive;
}

.Frame {
	font-family: "Agbalumo", cursive;
	display: flex;
	flex-wrap: wrap;

	img {
		border-radius: 5px;
	}

	margin: 0 auto;
	max-width: 1280px;
	flex-direction: row;

	.left {
		flex: 0.7;
		padding: 2rem;
		text-align: left;

		.TitleBox {
			h1 {
				margin: 0px;
			}
			h3 {
				margin: 0px;
			}
		}

		.Projects {
			// grid
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 10px;
			.Project {
				border-radius: 5px;
				width: 12rem;
				background-color: white;
				color: black;

				text-align: center;

				transition: ease-in-out 0.2s;

				&:hover {
					cursor: pointer;
					background-color: #ff00ff;
				}
			}
		}
	}
	.right {
		flex: 0.3;
		padding: 2rem;
		text-align: left;

		img {
			width: 250px;
			height: auto;
		}
	}
}

.Languages {
	img {
		height: 50px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

#tsparticles {
	canvas {
		position: fixed;
		z-index: 1 !important;
	}
}
