@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

.MainFrame {
	padding: 2rem;
}

body {
	font-family: "Agbalumo", cursive;
	color: white;
}

@keyframes Fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.Frame {
	animation: Fade 2s ease-in-out;

	font-family: "Agbalumo", cursive;
	display: flex;
	flex-wrap: wrap;

	img {
		border-radius: 5px;
	}

	margin: 0 auto;
	max-width: 1280px;
	flex-direction: row;

	.left {
		flex: 0.7;
		padding: 2rem;
		text-align: left;

		.TitleBox {
			h1 {
				margin: 0px;
			}
			h3 {
				margin: 0px;
			}

			color: white;
		}

		.Projects {
			// grid
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 10px;
			.Project {
				border-radius: 5px;
				width: 12rem;
				background-color: white;
				color: black;

				text-align: center;

				transition: ease-in-out 0.2s;

				&:hover {
					cursor: pointer;
					background-color: #ff00ff;
				}
			}
		}
	}
	.right {
		flex: 0.3;
		padding: 2rem;
		text-align: left;

		img {
			width: 250px;
			height: auto;
		}
	}
}

.Languages {
	opacity: 0; /* Initially hidden */
	animation: Fade 2s ease-in-out forwards; /* Animation to fade in */
	animation-delay: 0.5s; /* Delay the animation */
	img {
		height: 50px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.MyTimeline {
	opacity: 0; /* Initially hidden */
	animation: Fade 2s ease-in-out forwards; /* Animation to fade in */
	animation-delay: 1s;
}

.timeline {
	opacity: 0; /* Initially hidden */
	animation: Fade 2s ease-in-out forwards; /* Animation to fade in */
	animation-delay: 1.5s;
}

#tsparticles {
	canvas {
		position: fixed;
		z-index: 1 !important;
	}
}

@media only screen and (max-width: 600px) {
	#root {
		padding: 0;
	}

	.timeline-content {
		width: 70% !important;
	}

	.ProjectTitle {
		margin-left: 10px;
	}

	.Projects {
		margin-left: 10px;
		margin-right: 10px;
	}

	.Frame {
		flex-direction: column-reverse;
		.left {
			width: 100vw;
			padding: 0;
			.TitleBox {
				margin: auto;
				margin-left: 10px;
			}

			.Projects {
				grid-template-columns: repeat(2, 1fr);

				.Project {
					width: 100%;
				}
			}
		}
		.right {
			flex: 1;
			padding-bottom: 0px;

			img {
				border-radius: 50%;
				object-fit: cover;
				height: 250px;
				width: 250px;
				margin: auto;
				display: block;
			}
		}
	}
}
